{%extends "layout.html"%}
{% from "includes/formhelpers.html" import render_field %}

{%block body%}
<h4 style="background-image: url('https://cdn.wallpapersafari.com/31/2/A7C1GQ.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
text-align: center;
color: ivory;">Add Article!</h4>
<hr><hr>
<form method=post>
<dl>
      {{ render_field(form.title, class="form-control") }}
      {{ render_field(form.content, class="form-control") }}
</dl>
<button type="submit" class="btn btn-outline-success">Add Article!</button>

  </form>
{%endblock body%}
